<a href="https://colab.research.google.com/github/atifanindarahman/OD_X-Minute-City/blob/main/Active_Transport_Trips_0_10_Miles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
import pandas as pd

In [14]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_all.csv"

In [15]:
data = pd.read_csv(file_path)

In [16]:
within_trips = data[data['origin_zone_name'] == data['destination_zone_name']]

In [17]:
c= within_trips.groupby('origin_zone_name')['atf_0_10mi'].sum()

In [18]:
entry_exit_trips = data[data['origin_zone_name'] != data['destination_zone_name']]

In [19]:
a = entry_exit_trips.groupby('destination_zone_name')['atf_0_10mi'].sum()
b = entry_exit_trips.groupby('origin_zone_name')['atf_0_10mi'].sum()

In [20]:
d=a+b+c

In [21]:
data = pd.concat([a,b,c,d], axis=1, keys=('Entering','Leaving','Within','Total Trips Active Transport 0-10 Miles')).rename_axis('Zone').reset_index()

In [22]:
print (data)

                                  Zone  Entering  Leaving    Within  \
0                      AK-NonMSA areas       949      423  18587382
1                 AL-NonMSA areas (NE)    785173   807131  31907375
2                 AL-NonMSA areas (NW)    197976   198049  13221253
3                 AL-NonMSA areas (SE)    118429    94629   6687651
4                 AL-NonMSA areas (SW)    308401   337044  27558517
..                                 ...       ...      ...       ...
521                    Yanceyville, NC    109201   136825   1229204
522                   York-Hanover, PA   2460849  2685773  67380971
523  Youngstown-Warren-Boardman, OH-PA   1058286  1028656  64702628
524                      Yuba City, CA     88957   119795  26651323
525                           Yuma, AZ    539658   425833  37622546

     Total Trips Active Transport 0-10 Miles
0                                   18588754
1                                   33499679
2                                   13617278
3                                    6900709
4                                   28203962
..                                       ...
521                                  1475230
522                                 72527593
523                                 66789570
524                                 26860075
525                                 38588037

[526 rows x 5 columns]