In [ ]:
import pandas as pd

In [ ]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_v1.xlsx"

In [ ]:
data = pd.read_excel(file_path)

In [ ]:
grouped_data = data.groupby(['origin_zone_name', 'destination_zone_name'])

In [ ]:
a = data.groupby('destination_zone_name')['annual_total_trips'].sum()
b = data.groupby('origin_zone_name')['annual_total_trips'].sum()

In [ ]:
data = pd.concat([a,b], axis=1, keys=('Entering','Leaving')).rename_axis('Place').reset_index()

In [ ]:
print (data)

                                 Place   Entering    Leaving
0                      AK-NonMSA areas  138027147  138432641
1                 AL-NonMSA areas (NE)  506063912  509709881
2                 AL-NonMSA areas (NW)  225187776  227524504
3                 AL-NonMSA areas (SE)   94695014   94771084
4                 AL-NonMSA areas (SW)  407664019  411192541
..                                 ...        ...        ...
521                    Yanceyville, NC   15062470   17149729
522                   York-Hanover, PA  457492095  465189607
523  Youngstown-Warren-Boardman, OH-PA  580943222  580526836
524                      Yuba City, CA  226973276  227806067
525                           Yuma, AZ  272803846  270520514

[526 rows x 3 columns]

In [ ]:
!pip install openpyxl

Requirement already satisfied: openpyxl in /usr/local/lib/python3.10/dist-packages (3.1.2)
Requirement already satisfied: et-xmlfile in /usr/local/lib/python3.10/dist-packages (from openpyxl) (1.1.0)

In [ ]:
import openpyxl

In [ ]:
data.to_excel('/content/drive/MyDrive/output3.xlsx')