<a href="https://colab.research.google.com/github/atifanindarahman/OD_X-Minute-City/blob/main/OD_Aggregate_Mode_Vehicle.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_all.csv"

In [ ]:
data = pd.read_csv(file_path)

In [ ]:
within_trips = data[data['origin_zone_name'] == data['destination_zone_name']]

In [ ]:
c= within_trips.groupby('origin_zone_name')['mode_vehicle'].sum()

In [ ]:
entry_exit_trips = data[data['origin_zone_name'] != data['destination_zone_name']]

In [ ]:
a = entry_exit_trips.groupby('destination_zone_name')['mode_vehicle'].sum()
b = entry_exit_trips.groupby('origin_zone_name')['mode_vehicle'].sum()

In [ ]:
d=a+b+c

In [ ]:
data = pd.concat([a,b,c,d], axis=1, keys=('Entering','Leaving','Within','Total Trips Vehicle')).rename_axis('Zone').reset_index()

In [ ]:
print (data)

                                  Zone  Entering   Leaving     Within  \
0                      AK-NonMSA areas   1923634   2386590  116345950
1                 AL-NonMSA areas (NE)  73142690  76753777  398386602
2                 AL-NonMSA areas (NW)  29785711  32110123  181316262
3                 AL-NonMSA areas (SE)  16097213  16178145   71491990
4                 AL-NonMSA areas (SW)  44764368  48235309  333765729
..                                 ...       ...       ...        ...
521                    Yanceyville, NC   5281520   7327838    8381504
522                   York-Hanover, PA  60783711  68220670  325854728
523  Youngstown-Warren-Boardman, OH-PA  46640399  46259613  467421415
524                      Yuba City, CA  28048155  28849916  171931421
525                           Yuma, AZ  11328623   9058099  222609165

     Mode_Vehicle
0       120656174
1       548283069
2       243212096
3       103767348
4       426765406
..            ...
521      20990862
522     454859109
523     560321427
524     228829492
525     242995887

[526 rows x 5 columns]