<a href="https://colab.research.google.com/github/atifanindarahman/OD_X-Minute-City/blob/main/OD_Aggregate_0_10_Miles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_all.csv"

In [5]:
data = pd.read_csv(file_path)

In [6]:
grouped_data = data.groupby(['origin_zone_name', 'destination_zone_name'])

In [7]:
a = data.groupby('destination_zone_name')['annual_total_trips'].sum()
b = data.groupby('origin_zone_name')['annual_total_trips'].sum()
c = data.groupby('origin_zone_name')['distance_0_10'].sum()

In [8]:
data = pd.concat([a,b,c], axis=1, keys=('Entering','Leaving','0-10 Miles Trips')).rename_axis('Place').reset_index()

In [9]:
print (data)

                                 Place   Entering    Leaving  0-10 Miles Trips
0                      AK-NonMSA areas  138027147  138432641         116481211
1                 AL-NonMSA areas (NE)  506063912  509709881         353558649
2                 AL-NonMSA areas (NW)  225187776  227524504         153820597
3                 AL-NonMSA areas (SE)   94695014   94771084          65546563
4                 AL-NonMSA areas (SW)  407664019  411192541         283369730
..                                 ...        ...        ...               ...
521                    Yanceyville, NC   15062470   17149729          10204546
522                   York-Hanover, PA  457492095  465189607         367269452
523  Youngstown-Warren-Boardman, OH-PA  580943222  580526836         465239923
524                      Yuba City, CA  226973276  227806067         176984276
525                           Yuma, AZ  272803846  270520514         229379445

[526 rows x 4 columns]