<a href="https://colab.research.google.com/github/atifanindarahman/OD_X-Minute-City/blob/main/OD_Aggregate_0_10_Miles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
import pandas as pd

In [16]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_all.csv"

In [19]:
data = pd.read_csv(file_path)

In [20]:
grouped_data = data[data['origin_zone_name'] != data['destination_zone_name']]

In [21]:
a = grouped_data.groupby('destination_zone_name')['distance_0_10'].sum()
b = grouped_data.groupby('origin_zone_name')['distance_0_10'].sum()

In [22]:
grouped_data = data.groupby(['origin_zone_name', 'destination_zone_name'])

In [23]:
c = data.groupby('origin_zone_name')['distance_0_10'].sum()

In [24]:
d=a+b+c

In [25]:
data = pd.concat([a,b,c,d], axis=1, keys=('Entering','Leaving','0-10 Miles Trips','Total_Trips')).rename_axis('Zone').reset_index()

In [26]:
print (data)

                                  Zone  Entering   Leaving  0-10 Miles Trips  \
0                      AK-NonMSA areas     19021     16499         116481211
1                 AL-NonMSA areas (NE)  15048732  15265164         353558649
2                 AL-NonMSA areas (NW)   4297035   4582260         153820597
3                 AL-NonMSA areas (SE)   2194008   2036817          65546563
4                 AL-NonMSA areas (SW)   6214619   6913318         283369730
..                                 ...       ...       ...               ...
521                    Yanceyville, NC   1347366   1855222          10204546
522                   York-Hanover, PA  19545601  21486938         367269452
523  Youngstown-Warren-Boardman, OH-PA  10720455  10730191         465239923
524                      Yuba City, CA   1556192   1714650         176984276
525                           Yuma, AZ   5196994   3513112         229379445

     Total_Trips
0      116516731
1      383872545
2      162699892
3       69777388
4      296497667
..           ...
521     13407134
522    408301991
523    486690569
524    180255118
525    238089551

[526 rows x 5 columns]

In [27]:
import openpyxl

In [28]:
data.to_excel('/content/drive/MyDrive/output_0_10.xlsx')