<a href="https://colab.research.google.com/github/atifanindarahman/OD_X-Minute-City/blob/main/OD_Aggregate_All_Trips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [34]:
import pandas as pd

In [35]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_all.csv"

In [36]:
data = pd.read_csv(file_path)

In [37]:
within_trips = data[data['origin_zone_name'] == data['destination_zone_name']]

In [38]:
c= within_trips.groupby('origin_zone_name')['annual_total_trips'].sum()

In [39]:
grouped_data = data.groupby(['origin_zone_name', 'destination_zone_name'])

In [40]:
a = data.groupby('destination_zone_name')['annual_total_trips'].sum()
b = data.groupby('origin_zone_name')['annual_total_trips'].sum()

In [41]:
data = pd.concat([a,b,c], axis=1, keys=('Entering','Leaving','Within')).rename_axis('Place').reset_index()

In [42]:
print (data)

                                 Place   Entering    Leaving     Within
0                      AK-NonMSA areas  138027147  138432641  135193031
1                 AL-NonMSA areas (NE)  506063912  509709881  431358771
2                 AL-NonMSA areas (NW)  225187776  227524504  194903035
3                 AL-NonMSA areas (SE)   94695014   94771084   78310156
4                 AL-NonMSA areas (SW)  407664019  411192541  362173692
..                                 ...        ...        ...        ...
521                    Yanceyville, NC   15062470   17149729    9620867
522                   York-Hanover, PA  457492095  465189607  393743348
523  Youngstown-Warren-Boardman, OH-PA  580943222  580526836  532929959
524                      Yuba City, CA  226973276  227806067  198725143
525                           Yuma, AZ  272803846  270520514  260587279

[526 rows x 4 columns]

In [43]:
import openpyxl

In [44]:
data.to_excel('/content/drive/MyDrive/output_final.xlsx')