<a href="https://colab.research.google.com/github/atifanindarahman/OD_X-Minute-City/blob/main/OD_Aggregate_All_Trips.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [52]:
import pandas as pd

In [53]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_all.csv"

In [54]:
data = pd.read_csv(file_path)

In [55]:
within_trips = data[data['origin_zone_name'] == data['destination_zone_name']]

In [56]:
c= within_trips.groupby('origin_zone_name')['annual_total_trips'].sum()

In [57]:
grouped_data = data[data['origin_zone_name'] != data['destination_zone_name']]

In [58]:
a = grouped_data.groupby('destination_zone_name')['annual_total_trips'].sum()
b = grouped_data.groupby('origin_zone_name')['annual_total_trips'].sum()

In [59]:
d= a+b+c

In [60]:
data = pd.concat([a,b,c,d], axis=1, keys=('Entering','Leaving','Within','Total_Trips')).rename_axis('Zone').reset_index()

In [61]:
print (data)

                                  Zone  Entering   Leaving     Within  \
0                      AK-NonMSA areas   2834116   3239610  135193031
1                 AL-NonMSA areas (NE)  74705141  78351110  431358771
2                 AL-NonMSA areas (NW)  30284741  32621469  194903035
3                 AL-NonMSA areas (SE)  16384858  16460928   78310156
4                 AL-NonMSA areas (SW)  45490327  49018849  362173692
..                                 ...       ...       ...        ...
521                    Yanceyville, NC   5441603   7528862    9620867
522                   York-Hanover, PA  63748747  71446259  393743348
523  Youngstown-Warren-Boardman, OH-PA  48013263  47596877  532929959
524                      Yuba City, CA  28248133  29080924  198725143
525                           Yuma, AZ  12216567   9933235  260587279

     Total_Trips
0      141266757
1      584415022
2      257809245
3      111155942
4      456682868
..           ...
521     22591332
522    528938354
523    628540099
524    256054200
525    282737081

[526 rows x 5 columns]

In [62]:
import openpyxl

In [63]:
data.to_excel('/content/drive/MyDrive/output_total.xlsx')