<a href="https://colab.research.google.com/github/atifanindarahman/OD_X-Minute-City/blob/main/OD_Aggregate_0_10_Miles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

In [3]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_all.csv"

In [4]:
data = pd.read_csv(file_path)

In [6]:
grouped_data = data[data['origin_zone_name'] != data['destination_zone_name']]

In [7]:
a = grouped_data.groupby('destination_zone_name')['annual_total_trips'].sum()
b = grouped_data.groupby('origin_zone_name')['annual_total_trips'].sum()

In [8]:
grouped_data = data.groupby(['origin_zone_name', 'destination_zone_name'])

In [9]:
c = data.groupby('origin_zone_name')['distance_0_10'].sum()

In [10]:
d=a+b+c

In [11]:
data = pd.concat([a,b,c,d], axis=1, keys=('Entering','Leaving','0-10 Miles Trips','Total_Trips')).rename_axis('Place').reset_index()

In [12]:
print (data)

                                 Place  Entering   Leaving  0-10 Miles Trips  \
0                      AK-NonMSA areas   2834116   3239610         116481211
1                 AL-NonMSA areas (NE)  74705141  78351110         353558649
2                 AL-NonMSA areas (NW)  30284741  32621469         153820597
3                 AL-NonMSA areas (SE)  16384858  16460928          65546563
4                 AL-NonMSA areas (SW)  45490327  49018849         283369730
..                                 ...       ...       ...               ...
521                    Yanceyville, NC   5441603   7528862          10204546
522                   York-Hanover, PA  63748747  71446259         367269452
523  Youngstown-Warren-Boardman, OH-PA  48013263  47596877         465239923
524                      Yuba City, CA  28248133  29080924         176984276
525                           Yuma, AZ  12216567   9933235         229379445

     Total_Trips
0      122554937
1      506614900
2      216726807
3       98392349
4      377878906
..           ...
521     23175011
522    502464458
523    560850063
524    234313333
525    251529247

[526 rows x 5 columns]

In [13]:
import openpyxl

In [14]:
data.to_excel('/content/drive/MyDrive/output_0_10.xlsx')