<a href="https://colab.research.google.com/github/atifanindarahman/OD_X-Minute-City/blob/main/Total_Trips_Active_Transport.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_all.csv"

In [3]:
data = pd.read_csv(file_path)

In [4]:
within_trips = data[data['origin_zone_name'] == data['destination_zone_name']]

In [5]:
c= within_trips.groupby('origin_zone_name')['mode_atf'].sum()

In [6]:
entry_exit_trips = data[data['origin_zone_name'] != data['destination_zone_name']]

In [7]:
a = entry_exit_trips.groupby('destination_zone_name')['mode_atf'].sum()
b = entry_exit_trips.groupby('origin_zone_name')['mode_atf'].sum()

In [8]:
d=a+b+c

In [11]:
data = pd.concat([a,b,c,d], axis=1, keys=('Entering','Leaving','Within','Total Trips Active Transport')).rename_axis('Zone').reset_index()

In [12]:
print (data)

                                  Zone  Entering  Leaving    Within  \
0                      AK-NonMSA areas      3732     2666  18716581
1                 AL-NonMSA areas (NE)   1529340  1560602  32972169
2                 AL-NonMSA areas (NW)    493008   505765  13586773
3                 AL-NonMSA areas (SE)    278649   271069   6818166
4                 AL-NonMSA areas (SW)    684061   739188  28407855
..                                 ...       ...      ...       ...
521                    Yanceyville, NC    160083   201024   1239363
522                   York-Hanover, PA   2965036  3225589  67888620
523  Youngstown-Warren-Boardman, OH-PA   1355320  1312150  65508544
524                      Yuba City, CA    199978   231008  26761138
525                           Yuma, AZ    555418   444130  37978114

     Total Trips Active Transport
0                        18722979
1                        36062111
2                        14585546
3                         7367884
4                        29831104
..                            ...
521                       1600470
522                      74079245
523                      68176014
524                      27192124
525                      38977662

[526 rows x 5 columns]