<a href="https://colab.research.google.com/github/atifanindarahman/OD_X-Minute-City/blob/main/Vehicle_Trips_0_10_Miles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_all.csv"

In [3]:
data = pd.read_csv(file_path)

In [4]:
within_trips = data[data['origin_zone_name'] == data['destination_zone_name']]

In [5]:
c= within_trips.groupby('origin_zone_name')['vehicle_0_10mi'].sum()

In [6]:
entry_exit_trips = data[data['origin_zone_name'] != data['destination_zone_name']]

In [7]:
a = entry_exit_trips.groupby('destination_zone_name')['vehicle_0_10mi'].sum()
b = entry_exit_trips.groupby('origin_zone_name')['vehicle_0_10mi'].sum()

In [8]:
d=a+b+c

In [9]:
data = pd.concat([a,b,c,d], axis=1, keys=('Entering','Leaving','Within','Total Trips Vehicle 0-10 Miles')).rename_axis('Zone').reset_index()

In [10]:
print (data)

                                  Zone  Entering   Leaving     Within  \
0                      AK-NonMSA areas     18072     16076   97877202
1                 AL-NonMSA areas (NE)  14263559  14458033  306386110
2                 AL-NonMSA areas (NW)   4099059   4384211  136017084
3                 AL-NonMSA areas (SE)   2075579   1942188   56822095
4                 AL-NonMSA areas (SW)   5906218   6576274  248897895
..                                 ...       ...       ...        ...
521                    Yanceyville, NC   1238165   1718397    7120120
522                   York-Hanover, PA  17084752  18801165  278401543
523  Youngstown-Warren-Boardman, OH-PA   9660141   9700133  389807104
524                      Yuba City, CA   1467235   1594855  148589966
525                           Yuma, AZ   4656236   3086529  188243787

     Total Trips Vehicle 0-10 Miles
0                          97911350
1                         335107702
2                         144500354
3                          60839862
4                         261380387
..                              ...
521                        10076682
522                       314287460
523                       409167378
524                       151652056
525                       195986552

[526 rows x 5 columns]

In [ ]:
data.to_excel('/content/drive/MyDrive/output5.xlsx')