<a href="https://colab.research.google.com/github/atifanindarahman/OD_X-Minute-City/blob/main/Work_Trips_0_10_Miles.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
file_path = "/content/drive/MyDrive/2022_Passenger_OD_Annual_Data_all.csv"

In [ ]:
data = pd.read_csv(file_path)

In [ ]:
within_trips = data[data['origin_zone_name'] == data['destination_zone_name']]

In [ ]:
c= within_trips.groupby('origin_zone_name')['work_0_10mi'].sum()

In [ ]:
entry_exit_trips = data[data['origin_zone_name'] != data['destination_zone_name']]

In [ ]:
a = entry_exit_trips.groupby('destination_zone_name')['work_0_10mi'].sum()
b = entry_exit_trips.groupby('origin_zone_name')['work_0_10mi'].sum()

In [ ]:
d=a+b+c

In [ ]:
data = pd.concat([a,b,c,d], axis=1, keys=('Entering','Leaving','Within','Work Trips 0-10 Miles')).rename_axis('Zone').reset_index()

In [ ]:
print (data)

                                  Zone  Entering  Leaving     Within  \
0                      AK-NonMSA areas      4122     5048   34477259
1                 AL-NonMSA areas (NE)   4301174  4369622  102501552
2                 AL-NonMSA areas (NW)   1292909  1350024   46667111
3                 AL-NonMSA areas (SE)    579013   575787   19956240
4                 AL-NonMSA areas (SW)   1830521  1917801   85438424
..                                 ...       ...      ...        ...
521                    Yanceyville, NC    359318   400664    2272366
522                   York-Hanover, PA   5361449  5882045   94896915
523  Youngstown-Warren-Boardman, OH-PA   2935792  2911810  124170443
524                      Yuba City, CA    400835   414209   47681697
525                           Yuma, AZ   1220770  1063804   65770655

     Work Trips 0-10 Miles
0                 34486429
1                111172348
2                 49310044
3                 21111040
4                 89186746
..                     ...
521                3032348
522              106140409
523              130018045
524               48496741
525               68055229

[526 rows x 5 columns]